@keyframes slideInFromLeft {
    from{
        transform: translateX(10%);
    }
    to{
        transform: translateX(0);
    }
}

.Main:hover .Pic{
    animation: slideInFromLeft 0.75s ease-in-out 0s 1;
}